<div class="formulario">
  <div>
    <img class="logo" src="\assets\logo10.png">
  </div>

  <form>
    <div class="form-group">
      <label >Login</label>
      <input type="email" class="form-control" placeholder="Login">
    </div>
    <div class="form-group">
      <label >Login</label>
      <input type="password" class="form-control" placeholder="password">
      <small>Create here your account <button class="btn">Criar</button>.</small>
    </div>
    <button class="btn btn-primary" (click)="verificar()">Sign In</button>
  </form>
</div>
